
 @media print {
	 @page {
		 margin: 0;
		 size: 240mm;
		 /*width: 240mm;*/

		 
	}
	 * {
		 -webkit-print-color-adjust: exact;
		 color-adjust: exact;
	}
	#printPageButton {
    display: none;
  	}
}
* {
	 font-family: "Montserrat", sans-serif;
	 margin: 0px;
	 padding: 0px;
	 box-sizing: border-box;
}
 body {
	 background: #5f6368;
}

 